<script type="text/template" id="comentario">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-comentarioForm">
    <% if(comentario.id) {%>
    <input type="hidden" name="id" value="<%= comentario.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= comentario.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="contenido">Contenido</label>
    	<input type="text" class="form-control" id="contenido" name="contenido" placeholder="Enter value" value="<%= comentario.get('contenido') %>"/>	
		</div>
		<div class="form-group" >
		<label for="login">Login</label>
    	<input type="text" class="form-control" id="login" name="login" placeholder="Enter value" value="<%= comentario.get('login') %>"/>	
		</div>
    </form>
    </div>
</script> 